<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancy.douban_like.mapper.WorkerMapper">
    <select id="getWorkersByMovieId" parameterType="java.lang.String" resultType="com.fancy.douban_like.model.Worker">
        select a.WorkerId,a.WName,a.WImage from Worker a, MovieWorker b  where a.WorkerId=b.WorkerId and b.MovieId=#{movieId};
    </select>

    <select id="getOneWorkerByWorkerId" parameterType="java.lang.String" resultType="com.fancy.douban_like.model.Worker">
        select * from Worker where WorkerId=#{workerId};
    </select>
</mapper>